<?xml version="1.0" encoding="utf-8" ?>
<repose>
    <add key="javaExecutablePath" value="C:\Windows\System32\java.exe"/>
    <add key="reposePath" value=""/>
    <add key="startAction" value="START"/>
    <add key="stopAction" value="STOP"/>
    <add key="port" value="8887"/>
    <add key="reposeConfigs" value=""/>
</repose>